td, th {
    /* border: 1px solid #989898; */
    text-align: left;

    padding: 25px;
    font-size: 35px;
}


thead tr {
    background-color: hsl(34, 0%, 50%) !important;
    position: sticky;
    box-shadow: -2px -9px 14px 20px hsl(34, 0%, 35%);
    top: 0;
}

tr {
    transition:top 10s;
}